/*----------------------------------------*/
/*   Spacing                              */
/*----------------------------------------*/

/*-- Margin Top --*/
@for $i from 1 through 140 {
  .mt-#{1 * $i} {
    margin-top: 1px * $i;
  }
}

/*-- Margin Bottom --*/
@for $i from 1 through 140 {
  .mb-#{1 * $i} {
    margin-bottom: 1px * $i;
  }
}

/*-- Margin Left --*/
@for $i from 1 through 100 {
  .ml-#{1 * $i} {
    margin-left: 1px * $i;
  }
}

/*-- Margin Right --*/
@for $i from 1 through 100 {
  .mr-#{1 * $i} {
    margin-right: 1px * $i;
  }
}

/*-- Padding Top --*/
@for $i from 1 through 150 {
  .pt-#{1 * $i} {
    padding-top: 1px * $i;
  }
}

@include mq(max-sm) {
  @for $i from 1 through 150 {
    .pt-sm-#{$i} {
      padding-top: #{$i}px;
    }
  }
}

/***** spacing *****/

/*-- Padding Bottom --*/
@for $i from 1 through 150 {
  .pb-#{1 * $i} {
    padding-bottom: 1px * $i;
  }
}

/*-- Padding Left --*/
@for $i from 1 through 130 {
  .pl-#{1 * $i} {
    padding-left: 1px * $i;
  }
}

/*-- Padding Right --*/
@for $i from 1 through 100 {
  .pr-#{1 * $i} {
    padding-right: 1px * $i;
  }
}

/*-- Padding X --*/

@for $i from 1 through 150 {
  .px-#{1 * $i} {
    padding-left: 1px * $i;
    padding-right: 1px * $i;
  }
}

/*-- Padding Y --*/
@for $i from 1 through 150 {
  .py-#{1 * $i} {
    padding-top: 1px * $i;
    padding-bottom: 1px * $i;
  }
}

/*-- Margin X --*/

@for $i from 1 through 150 {
  .mx-#{1 * $i} {
    margin-left: 1px * $i;
    margin-right: 1px * $i;
  }
}

/*-- Margin Y --*/
@for $i from 1 through 150 {
  .my-#{1 * $i} {
    margin-top: 1px * $i;
    margin-bottom: 1px * $i;
  }
}


.rts-section-gap {
  padding: 120px 0;

  @include mq(max-md) {
    padding: 80px 0;
  }

  @include mq(max-sm) {
    padding: 60px 0;
  }
}


.rts-section-gapTop {
  padding-top: 120px;

  @include mq(max-md) {
    padding-top: 80px;
  }

  @include mq(max-sm) {
    padding-top: 60px;
  }
}

.rts-section-gapBottom {
  padding-bottom: 120px;

  @include mq(max-md) {
    padding-bottom: 80px;
  }

  @include mq(max-sm) {
    padding-bottom: 60px;
  }
}

.inner-pb {
  padding-bottom: 60px;

  @include mq(max-lg){
    padding-bottom: 40px;
  }

  @include mq(max-sm){
    padding-bottom: 20px;
  }
}