/* Typography */

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: auto !important;
}

body {
    color: var(--color-body);
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 26px;
    position: relative;
    overflow-x: hidden;

    @include mq(max-lg) {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
menu,
ol,
ul,
table,
hr {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    word-break: break-word;
    font-family: var(--font-primary);
    font-weight: var(--f-bold);
    line-height: 1;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;
    line-height: 58px;

    @include mq(max-xl) {
        font-size: 35px;
        line-height: 40px;
    }

    @include mq(max-lg) {
        font-size: 30px;
        line-height: 35px;
    }
    @include mq(max-md) {
        font-size: 25px;
        line-height: 30px;
    }
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

ul {
    padding: 0;
    margin: 0;
}

input,
textarea,
button {
    outline: none;
    border: none;
}