/*----------------------------------------*/
/*    Nav Style                           */
/*----------------------------------------*/


.main-nav-area {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            position: relative;
            margin-right: 35px;

            a {
                display: inline-flex;
                align-items: center;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration: none;
                padding: 17px 0;
                @include rts-transition;
            }

            &:hover>a {
                color: var(--color-primary);
            }

            /* ===== Dropdown Parent ===== */
            &.has-dropdown {
                >a {
                    &::after {
                        content: "\f078";
                        /* chevron-down */
                        font-family: "Font Awesome 6 Pro";
                        font-weight: 400;
                        font-size: 11px;
                        margin-left: 6px;
                        transition: transform 0.3s ease;
                    }
                }

                &:hover>a::after {
                    transform: rotate(180deg);
                }
            }

            /* ===== Submenu ===== */
            .submenu {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 220px;
                background: var(--color-white);
                transform: scaleY(0);   
                transform-origin: top; 
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
                border-radius: 0 0 5px 5px;
                z-index: 99;

                li {
                    margin: 0;

                    &:not(:last-child) {
                        border-bottom: 1px solid #e3e3e686;
                    }

                    a {
                        padding: 10px 20px;
                        color: var(--color-heading);
                        width: 100%;
                        display: block;
                        @include rts-transition;

                        &:hover {
                            color: var(--color-primary);
                            background: #f7f7f7;
                        }
                    }
                }
            }

            /* ===== Hover Effect ===== */
            &:hover > .submenu {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
            }
        }
    }
}