/*----------------------------------------*/
/*   Footer Section                       */
/*----------------------------------------*/

.rts-footer-area {
    background: var(--color-heading);
    position: relative;

    .shape {
        position: absolute;
        top: 105px;
        left: 0;
    }

    .heading-title {
        font-size: 380px;
        text-align: center;
        color: rgba(255, 255, 255, 0.05);
        font-weight: var(--f-bold);
        position: relative;
        left: 0;
        bottom: -195px;
        white-space: nowrap;
        margin: 0 auto;

        @include mq(max-lg) {
            font-size: 250px;
        }

        @include mq(max-md) {
            font-size: 150px;
        }

        @include mq(max-sm) {
            font-size: 100px;
        }
    }

    .footer-newsletter-area {
        padding: 100px 0;

        .newsletter-content {
            .title {
                color: var(--color-white);
                font-weight: var(--f-bold);
            }

            .desc {
                margin-top: 5px;
                color: var(--color-white);
            }
        }

        .newsletter-form {
            margin-left: 70px;
            position: relative;
            overflow: hidden;

            @include mq(max-lg) {
                margin-left: 0;
                margin-top: 30px;
            }

            input {
                width: 100%;
                background: var(--color-white);
                border-radius: 100px;
                padding: 17px 0 17px 50px;
            }

            .btn-subs {
                background: var(--color-primary);
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 0 30px;
                border-radius: 100px;
                color: var(--color-white);
                font-weight: var(--f-semi-bold);

                i {
                    margin-left: 5px;
                    transform: rotate(-45deg);
                }

                @include mq(max-sm) {
                    position: unset;
                    padding: 17px 30px;
                    margin-top: 20px;
                }
            }
        }
    }

    .footer-widget-area {
        padding: 80px 70px;
        background: var(--color-white);
        border-radius: 20px 20px 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include mq(max-lg) {
            padding: 35px 30px;
        }

        @include mq(max-xl) {
            flex-wrap: wrap;
            gap: 25px;
        }

        @include mq(max-md) {
            padding: 50px 15px;
        }


        .footer-widget-content {
            margin-right: 50px;
            flex-basis: 25%;

            @include mq(max-xl) {
                flex-basis: 45%;
            }

            @include mq(max-lg) {
                margin-right: 0;
            }

            @include mq(max-md) {
                flex-basis: 100%;
            }

            .desc {
                margin-top: 30px;
                max-width: 295px;

                @include mq(max-lg) {
                    max-width: 100%;
                }
            }

            .social-list {
                margin-top: 25px;
                display: flex;
                align-items: center;
                gap: 10px;

                li {
                    a {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: #EEEEEE;
                        @include flex;
                        color: var(--color-body-2);
                        @include rts-transition;

                        &:hover {
                            background: var(--color-primary);
                            color: var(--color-white);
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }

        .single-widget {
            padding-left: 50px;
            border-left: 1px solid #E4E4E4;

            @include mq(max-xl) {
                flex-basis: 45%;
            }

            @include mq(max-lg) {
                // padding: 0 15px;
            }

            @include mq(max-md) {
                flex-basis: 100%;
                padding-left: 25px;
            }

            .widget-title {
                font-size: 22px;
                font-weight: var(--f-bold);
                margin-bottom: 50px;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    background-image: url('../images/footer/divide.svg');
                    background-position: bottom left;
                    background-repeat: no-repeat;
                    background-size: auto;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    bottom: -20px;
                }
            }

            .widget-list {
                li {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    a {
                        i {
                            margin-right: 13px;
                            @include rts-transition;
                        }

                        font-size: 16px;
                        font-weight: var(--f-regular);
                        @include rts-transition;

                        &:hover {
                            color: var(--color-primary);

                            i {
                                color: var(--color-primary);
                            }
                        }

                    }
                }
            }

            .widget-info-list {
                li {
                    display: flex;
                    align-items: flex-start;
                    gap: 13px;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    .icon {
                        color: var(--color-primary);
                    }

                    a {

                        font-size: 16px;
                        font-weight: var(--f-regular);
                        @include rts-transition;

                        &:hover {
                            color: var(--color-primary);
                        }

                        @include mq(max-lg) {
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-copyright-area {
        padding: 0 70px 30px 70px;
        background: var(--color-white);

        @include mq(max-md) {
            padding: 0 15px 30px 15px;
        }

        .border-line {
            padding-top: 30px;
            border-top: 1px solid #E4E4E4;
        }

        .copy-menu-area {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq(max-md) {
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
            }

            .copyright {
                color: var(--color-body-2);
                font-weight: var(--f-regular);
            }

            .footer-condition {
                display: flex;
                align-items: center;
                gap: 20px;

                li {
                    a {
                        color: var(--color-body-2);
                        font-weight: var(--f-regular);
                        @include rts-transition;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }

    .footer-widget-wrapper-area {
        margin-bottom: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 30px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #3C414A;
        }

        @include mq(max-xl) {
            flex-wrap: wrap;
            gap: 30px;
        }

        @include mq(max-sm) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }

        .single-widget {
            .widget-title {
                font-size: 14px;
                color: var(--color-white);
                text-transform: uppercase;
                margin-bottom: 50px;
            }

            .desc {
                color: var(--color-white);
                margin-bottom: 25px;

                @include mq(max-md) {
                    max-width: 100%;

                    br {
                        display: none;
                    }
                }
            }

            .social-list {
                display: flex;
                align-items: center;
                gap: 10px;

                li {
                    a {
                        @include flex;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background: #343637;
                        color: var(--color-white);
                        @include rts-transition;

                        &:hover {
                            background: var(--color-primary);
                            color: var(--color-white);
                            transform: translateY(-10px);
                        }
                    }
                }
            }

            .widget-list {
                li {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    a {
                        color: var(--color-white);
                        font-weight: var(--f-semi-bold);
                        @include rts-transition;

                        &:hover {
                            color: var(--color-primary);
                        }

                    }
                }
            }

            .widget-info {
                .single-info {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    .title {
                        display: block;
                        font-size: 14px;
                        color: #61656D;
                        margin-bottom: 3px;
                    }

                    a {
                        font-size: 18px;
                        color: var(--color-white);
                        font-weight: var(--f-bold);
                        @include rts-transition;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }
            }

            .subscribe-form {
                .des {
                    color: var(--color-body);
                    font-weight: var(--f-medium);
                    margin-bottom: 15px;

                    @include mq(max-md) {
                        br {
                            display: none;
                        }
                    }
                }

                form {
                    position: relative;

                    input[type="email"] {
                        width: 100%;
                        padding: 15px 20px;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        background: #252930;
                        color: var(--color-body);
                    }

                    button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        padding: 15px 20px;
                        background: var(--color-primary);
                        color: var(--color-white);
                        border-radius: 5px;
                    }
                }

            }
        }
    }

    .footer-copyright-area-two {
        background: #252930;

        .copyright-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

            @include mq(max-sm) {
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
            }

            .copyright-desc {
                color: var(--color-white);
                font-weight: var(--f-medium);

                @include mq(max-sm) {
                    font-size: 14px;
                }
            }

            .copyrigt-menu {
                display: flex;
                align-items: center;
                gap: 20px;

                li {
                    a {
                        color: var(--color-white);
                        font-weight: var(--f-medium);
                        @include rts-transition;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }

    &.footer-three {
        padding-top: 140px;
    }

    .footer-menu-area {
        .footer-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #3D3E40;
            padding-bottom: 50px;
            
            @include mq(max-lg){
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px;
            }

            @include mq(max-md){
                gap: 10px;
            }

            li {
                a {
                    color: var(--color-white);
                    font-size: 14px;
                    font-weight: var(--f-medium);
                    @include rts-transition;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    .footer-widget-wrapper-three {
        padding: 80px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include mq(max-xl) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        @include mq(max-sm) {
            grid-template-columns: repeat(1, 1fr);
        }

        .single-widget {

            .widget-title {
                color: var(--color-white);
                font-size: 24px;
                margin-bottom: 25px;
            }

            .widget-body {
                .desc {
                    font-weight: var(--f-medium);
                    max-width: 240px;
                    margin-bottom: 20px;
                }

                a {
                    display: block;
                    font-weight: var(--f-medium);
                    color: var(--color-white);
                    @include rts-transition;

                    &:hover {
                        color: var(--color-primary);
                    }
                }

                .subscribe-area {
                    position: relative;

                    input {
                        padding: 16px;
                        color: var(--color-white);
                        background: #343637;
                        font-weight: var(--f-medium);
                        width: 100%;
                        border-radius: 5px;
                    }

                    .sub-btn {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        background: var(--color-primary);
                        color: var(--color-white);
                        padding: 16px;
                        border-radius: 5px;
                        font-weight: var(--f-semi-bold);
                    }
                }

                .social-list {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    li {
                        a {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background: #343637;
                            @include flex;
                            color: var(--color-white);
                            @include rts-transition;

                            &:hover {
                                background: var(--color-primary);
                                color: var(--color-white);
                                transform: translateY(-10px);
                            }
                        }
                    }
                }
            }

            &:last-child {
                .widget-body {
                    .desc {
                        max-width: 340px;
                    }
                }
            }

            .widget-item-wrapper {
                margin-top: 30px;

                .widget-item {
                    display: flex;
                    align-items: center;
                    gap: 17px;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    .thumb {
                        img {
                            border-radius: 15px;
                        }
                    }

                    .content {
                        .title {
                            color: var(--color-white);
                            font-size: 16px;
                            line-height: 22px;
                            margin-bottom: 5px;
                            max-width: 200px;
                        }

                        .date {
                            font-weight: var(--f-semi-bold);
                        }
                    }
                }
            }
        }
    }

    .footer-copyright-three {
        border-top: 1px solid #3D3E40;
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq(max-sm) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }

        .footer-condition {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                a {
                    font-weight: var(--f-medium);
                    @include rts-transition;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}