/******************************************************/
/* Contact Section                                    */
/******************************************************/

.rts-maps-contact-area {
    background: #EEF2F4;
    border-radius: 10px;
    overflow: hidden;
    display: flex;

    @include mq(max-lg) {
        flex-wrap: wrap;
    }

    .rts-contact-wrapper {
        width: 60%;
        padding: 80px 50px 80px 80px;

        @include mq(max-lg) {
            width: 100%;
            padding: 50px;
        }

        @include mq(max-md) {
            padding: 30px;
        }

        .subtitle {
            display: inline-block;
            color: var(--color-primary);
            text-decoration: underline;
            font-weight: var(--f-semi-bold);
            margin-bottom: 20px;
        }

        .title {
            margin-bottom: 45px;

            @include mq(max-xl) {
                br {
                    display: none;
                }
            }

            @include mq(max-sm) {
                font-size: 25px;
            }
        }

        .rts-contact-input-wrapper {
            .gci {
                --bs-gutter-x: 20px;
                --bs-gutter-y: 20px;
            }

            .single-input {
                position: relative;

                input,
                textarea {
                    width: 100%;
                    padding: 20px;
                    color: var(--color-body-2);
                    font-weight: var(--f-regular);
                    border: 1px solid #E3E3E3;
                    border-radius: 5px;
                    outline: none;
                    transition: all 0.3s ease;
                }

                .icon {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: #999;
                    transition: color 0.3s ease;
                }

                textarea {
                    height: 160px;
                    resize: none;
                }

                &:focus-within {

                    input,
                    textarea {
                        border-color: var(--color-primary);
                    }

                    .icon {
                        color: var(--color-primary);
                    }
                }
            }


            .rts-btn {
                margin-top: 30px;
                max-width: 100%;
                width: 100%;
            }
        }
    }


    .rts-maps-area {
        width: 40%;

        @include mq(max-lg) {
            height: 300px;
            width: 100%;
        }

        iframe {
            display: block;
            width: 100%;
            height: 100%;
            filter: grayscale(1);
        }
    }
}

.rts-contact-info-area {
    background: #EEF2F4;

    .contact-info-item {
        padding: 40px;
        background: var(--color-white);
        border-radius: 15px;
        height: 100%;

        .icon {
            @include flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 30px;
            color: var(--color-primary);
            background: #F6F6F7;
            margin-bottom: 30px;
        }

        .content {
            span {
                display: inline-block;
                color: var(--color-primary);
                font-size: 14px;
                font-weight: var(--f-medium);
                margin-bottom: 10px;
            }

            h4 {
                @include mq(max-xl) {
                    font-size: 20px;
                    line-height: 1.2;
                }
            }
        }
    }
}

.rts-contact-area {

    &.contact-three {
        background: #F6F6F6;
    }

    .contact-wrapper {

        .rts-contact-content-area {
            .rts-section-title {
                .title {
                    line-height: 1.4;
                    margin-bottom: 20px;

                    @include mq(max-xl) {
                        line-height: 1.2;
                        br {
                            display: none;
                        }
                    }
                }

                .desc {
                    margin-bottom: 35px;
                }
            }

            .contact-info-wrapper {
                .contact-info-item {
                    @include flex-center;
                    gap: 20px;

                    &:not(:last-child) {
                        margin-bottom: 40px;
                    }

                    .icon {
                        @include flex;
                        min-width: 70px;
                        height: 70px;
                        background: var(--color-primary);
                        color: var(--color-white);
                        border-radius: 50%;
                        font-size: 20px;
                    }

                    .content {
                        span {
                            display: inline-block;
                            color: var(--color-primary);
                            font-size: 14px;
                            font-weight: var(--f-regular);
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .rts-contact-form-area {
            background: var(--color-white);
            padding: 50px;
            border-radius: 30px;
            box-shadow: 0px 4px 0px var(--color-primary);

            @include mq(max-sm) {
                padding: 30px;
            }

            .title {
                font-size: 30px;
                margin-bottom: 35px;
            }

            .contact-form {
                .single-input-wrapper {
                    margin-bottom: 20px;

                    .gcf {
                        --bs-gutter-x: 20px;
                        --bs-gutter-y: 20px;
                    }

                    .single-input {
                        input {
                            width: 100%;
                            padding: 20px;
                            border: 1px solid #E3E3E4;
                            border-radius: 7px;
                            background: #FAFAFA;

                            &:focus {
                                border-color: var(--color-primary);
                            }
                        }
                    }
                }

                .single-input-textarea {
                    textarea {
                        padding: 20px;
                        border: 1px solid #E3E3E4;
                        border-radius: 7px;
                        height: 120px;
                        width: 100%;
                        background: #FAFAFA;

                        &:focus {
                            border-color: var(--color-primary);
                        }
                    }
                }

                .rts-btn {
                    margin-top: 30px;
                    border-radius: 100px;
                }
            }
        }
    }
}


.rts-map-area {
    iframe {
        display: block;
        width: 100%;
        height: 500px;
        filter: grayscale(1);

        @include mq(max-lg) {
            height: 400px;
        }

        @include mq(max-sm) {
            height: 300px;
        }
    }
}