/******************************************************/
/* FAQS Section                                     */
/******************************************************/

.rts-faq-area {
    position: relative;
    z-index: 1;

    .bg-shape {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: -1;
    }

    &.rts-faq-inner {
        padding-top: 240px;
    }

    .rts-faq-wrapper {
        .rts-faq-content-area {
            margin-right: 50px;

            @include mq(max-xl) {
                margin-right: 0;
            }

            .rts-section-title {
                .title {
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 50px;

                    @include mq(max-sm) {
                        font-size: 28px;
                        line-height: 35px;
                    }
                }
            }

            .rts-faq-accordions-area {
                .accordion {
                    .accordion-item {
                        overflow: hidden;
                        border: 1px solid #E3E7F0;
                        border-radius: 10px;

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        .accordion-header {
                            .accordion-button {
                                position: relative;
                                font-size: 18px;
                                font-family: var(--font-primary);
                                font-weight: var(--f-semi-bold);
                                line-height: 1.3;
                                color: var(--color-heading);
                                background-color: #FBFCFF;
                                padding: 20px 30px;
                                box-shadow: none;

                                @include mq(max-sm) {
                                    padding: 15px 20px;
                                }

                                /*  Bootstrap icon OFF */
                                &::after {
                                    display: none;
                                }

                                /*  Custom Font Awesome icon */
                                &::before {
                                    content: "\f078";
                                    font-family: "Font Awesome 6 Pro";
                                    font-weight: 400;
                                    position: absolute;
                                    right: 30px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 16px;
                                    color: var(--color-heading);
                                    transition: transform 0.3s ease, color 0.3s ease;
                                }

                                /* OPEN state */
                                &:not(.collapsed) {
                                    color: var(--color-white);
                                    background-color: var(--color-primary);

                                    &::before {
                                        transform: translateY(-50%) rotate(180deg);
                                        color: var(--color-white);
                                    }
                                }

                                &:focus {
                                    box-shadow: none;
                                }
                            }
                        }

                        .accordion-body {
                            padding: 30px;
                            color: #797E88;
                        }
                    }
                }
            }
        }

        .rts-faq-image-area {
            position: relative;

            @include mq(max-xl) {
                padding-bottom: 120px;
            }

            @include mq(max-md) {
                padding-bottom: 0;
            }

            .image {
                border: 4px solid var(--color-white);
                border-radius: 20px;
                box-shadow: 0px 18px 48px rgba(30, 33, 65, 0.16);

                &.one {
                    max-width: 458px;

                    @include mq(max-md) {
                        max-width: 100%;
                    }
                }

                &.two {
                    max-width: 363px;
                    position: absolute;
                    top: 230px;
                    right: 0;

                    @include mq(max-md) {
                        display: none;
                    }
                }

                &.three {
                    max-width: 181px;
                    position: absolute;
                    left: 50px;
                    bottom: -120px;

                    @include mq(max-lg) {
                        display: none;
                    }
                }
            }

            .faq-counter-area {
                max-width: 181px;
                padding: 40px 30px;
                background: var(--color-heading);
                border-radius: 20px;
                box-shadow: 0px 18px 48px rgba(30, 33, 65, 0.16);
                position: absolute;
                top: 100px;
                right: 30px;

                @include mq(max-md) {
                    display: none;
                }

                .counter-no {
                    color: var(--color-white);
                }

                .desc {
                    margin-top: 10px;
                    font-size: 16px;
                    color: var(--color-white);
                    font-weight: var(--f-semi-bold);
                    line-height: 20px;
                }
            }
        }
    }
}