/*----------------------------------------*/
/*   Services Section                     */
/*----------------------------------------*/

.rts-service-area {
    position: relative;
    z-index: 1;

    .bg-shape {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        left: 0;
        z-index: -1;

        @include mq(max-xl){
            display: none;
        }
    }
    &.about-bg-one {
        margin: 30px;
        border-radius: 20px;

        @include mq(max-sm) {
            margin: 10px;
        }
    }

    .rts-section-title {
        position: relative;

        .big-title {
            font-size: 220px;
            font-weight: var(--f-bold);
            line-height: 1;
            background: linear-gradient(90deg, rgba(246, 246, 247, 0.56) 0%, #F2F2F5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            z-index: -1;

            @include mq(max-xl){
                font-size: 175px;
            }

            @include mq(max-lg){
                font-size: 150px;
            }
        }
    }

    .rts-service-wrapper {
        margin-top: 70px;

        .service-item {
            background: var(--color-white);
            border-radius: 20px;
            overflow: hidden;

            .service-top-area {
                display: flex;

                .icon-number-area {
                    .icon {
                        @include flex;
                        min-width: 110px;
                        height: 110px;
                        background: #F5F7FD;
                        @include rts-transition;

                        svg {
                            path {
                                fill: var(--color-primary);
                                @include rts-transition;
                            }
                        }
                    }

                    .number {
                        display: block;
                        text-align: center;
                        font-size: 48px;
                        font-weight: 800;
                        color: var(--color-white);
                        -webkit-text-stroke: 1px #E9E9F2;
                        margin-top: 35px;
                    }
                }
            }

            .service-content-area {
                padding: 40px 35px;

                .title {
                    font-size: 24px;
                    @include rts-transition;

                    &:hover {
                        color: var(--color-primary);
                    }
                }

                .desc {
                    margin: 10px 0 22px;
                }
            }

            &:hover {
                .service-top-area {
                    .icon-number-area {
                        .icon {
                            background: var(--color-primary);

                            svg {
                                path {
                                    fill: var(--color-white);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.rts-service-inner {
            margin-top: 0;

            .service-item {
                box-shadow: 0px 4px 58px rgba(37, 41, 85, 0.1);
            }
        }
    }

    .rts-service-wrapper-two {
        margin-top: 70px;

        @include mq(max-sm) {
            margin-top: 40px;
        }

        .single-item {
            overflow: hidden;
            background: var(--color-white);
            box-shadow: 0px 4px 58px rgba(37, 41, 85, 0.1);
            border-radius: 20px;

            .service-inner {
                padding: 40px;

                @include mq(max-xl) {
                    padding: 30px
                }

                .icon {
                    @include flex;
                    width: 80px;
                    height: 80px;
                    background: rgba(51, 88, 211, 0.05);
                    border-radius: 15px;
                    margin-bottom: 40px;
                    @include rts-transition;

                    svg {
                        path {
                            @include rts-transition;
                        }
                    }
                }

                .content {
                    .title {
                        font-size: 24px;
                        font-weight: var(--f-bold);
                        margin-bottom: 15px;

                        @include mq(max-xl) {
                            font-size: 22px;
                        }
                    }
                }
            }

            .service-btn {
                padding: 15px 40px;
                background: var(--color-primary);

                @include mq(max-xl) {
                    padding: 15px 30px;
                }

                .rts-link {
                    display: block;
                    color: var(--color-white);
                    font-weight: var(--f-semi-bold);
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            &:hover {
                .service-inner {
                    .icon {
                        background: var(--color-primary);

                        svg {
                            path {
                                fill: var(--color-white);
                            }
                        }
                    }
                }
            }
        }

        .bottom-desc {
            text-align: center;
            margin-top: 50px;

            p {
                color: var(--color-heading);
                font-weight: var(--f-medium);

                a {
                    color: var(--color-primary);
                    text-decoration: underline;

                }
            }
        }
    }

    .rts-service-wrapper-three {
        .single-item {
            text-align: center;
            padding: 50px 40px;
            background: var(--color-white);
            border-radius: 20px;
            box-shadow: 0 5px 30px 0 rgb(0 0 0 / .05);
            @include rts-transition;

            @include mq(max-xl) {
                padding: 40px 30px;
            }

            .icon {
                @include flex;
                width: 100px;
                height: 100px;
                background: #EBF0FF;
                border-radius: 50%;
                margin: 0 auto 40px;
            }

            .content {
                .title {
                    margin-bottom: 15px;
                    font-size: 24px;
                    @include rts-transition;

                    @include mq(max-xl) {
                        font-size: 19px;
                    }

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }

            &:hover {
                box-shadow: 0 6px 0 0 rgba(219.99999999999997, 225.99999999999997, 230.99999999999997, .49);
            }
        }
    }

    .rts-service-wrapper-four {
        margin-top: 60px;

        .single-item {
            padding: 35px;
            background: var(--color-white);
            box-shadow: 0px 18px 55px rgba(18, 25, 46, 0.05);
            border-radius: 20px;
            overflow: hidden;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 172px;
                height: 500px;
                background: linear-gradient(180deg, rgba(51, 88, 211, 0.4) 0%, rgba(171, 190, 253, 0) 89.04%);
                border-radius: 100px;
                transform: rotate(51deg);
                left: 125px;
                top: -318px;
                z-index: 99999;
                opacity: 0;
                @include rts-transition;
            }

            .icon {
                @include flex;
                width: 80px;
                height: 80px;
                background: rgba(51, 88, 211, 0.05);
                border-radius: 50%;
                margin-bottom: 30px;
                @include rts-transition;

                svg {
                    path {
                        @include rts-transition;
                    }
                }
            }

            .content {
                .title {
                    font-size: 22px;
                    margin-bottom: 10px;
                    @include rts-transition;

                    &:hover {
                        color: var(--color-primary);
                    }
                }

                .rts-btn {
                    margin-top: 15px;

                    &.text-btn {
                        color: var(--color-primary);
                        @include rts-transition;

                        &:hover {
                            color: var(--color-heading);
                        }
                    }
                }
            }

            &:hover {
                &::before {
                    opacity: 1;
                }

                .icon {
                    background: var(--color-primary);

                    svg {
                        path {
                            fill: var(--color-white);
                        }
                    }
                }
            }
        }

        .rts-service-pagination {
            margin-top: 40px;
            text-align: center;

            .swiper-pagination-bullet {
                width: 60px;
                height: 5px;
                background: #D9D9E2;
                border-radius: 100px;
            }

            .swiper-pagination-bullet-active {
                background: var(--color-primary);
            }
        }
    }
}

.rts-service-details-area {
    .rts-project-details-wrapper {
        padding-right: 15px;

        @include mq(max-xl) {
            padding-right: 0;
        }

        .thumbnail {
            img {
                border-radius: 15px
            }
        }

        .project-item-wrapper {
            .single-item {
                display: flex;
                align-items: flex-start;
                gap: 20px;
                padding: 40px;
                background: var(--color-white);
                border: 1px solid #EBEBEC;
                border-radius: 20px;
                box-shadow: 0px 16px 60px rgba(10, 12, 21, 0.08);

                @include mq(max-xl) {
                    padding: 30px;
                    flex-wrap: wrap;
                }

                .content {
                    .title {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .rts-faq-accordions-area {
            .accordion {
                .accordion-item {
                    overflow: hidden;
                    border: 1px solid #E3E7F0;
                    border-radius: 10px;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    .accordion-header {
                        .accordion-button {
                            position: relative;
                            font-size: 18px;
                            font-family: var(--font-primary);
                            font-weight: var(--f-semi-bold);
                            line-height: 1.3;
                            color: var(--color-heading);
                            background-color: #FBFCFF;
                            padding: 20px 30px;
                            box-shadow: none;

                            @include mq(max-sm) {
                                padding: 15px 20px;
                            }

                            /*  Bootstrap icon OFF */
                            &::after {
                                display: none;
                            }

                            /*  Custom Font Awesome icon */
                            &::before {
                                content: "\f078";
                                font-family: "Font Awesome 6 Pro";
                                font-weight: 400;
                                position: absolute;
                                right: 30px;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 16px;
                                color: var(--color-heading);
                                transition: transform 0.3s ease, color 0.3s ease;
                            }

                            /* OPEN state */
                            &:not(.collapsed) {
                                color: var(--color-white);
                                background-color: var(--color-primary);

                                &::before {
                                    transform: translateY(-50%) rotate(180deg);
                                    color: var(--color-white);
                                }
                            }

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    .accordion-body {
                        padding: 30px;
                        color: #797E88;
                    }
                }
            }
        }
    }

    .rts-widget-wrapper {
        .single-widget {
            padding: 40px;
            border-radius: 10px;

            @include mq(max-xl) {
                padding: 30px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
            }

            .widget-title {
                font-size: 24px;
                margin-bottom: 30px;
            }

            &.category-widget {
                background: #F6F6F6;

                .category-list {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }

                        a {
                            padding: 17px 25px;
                            @include flex-center;
                            justify-content: space-between;
                            background: var(--color-white);
                            color: var(--color-heading);
                            font-weight: var(--f-medium);
                            border-radius: 5px;
                            @include rts-transition;

                            &:hover {
                                background: var(--color-primary);
                                color: var(--color-white);
                            }
                        }
                    }
                }
            }

            &.download-widget {
                background: var(--color-heading);

                .download-list {
                    .download-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:not(:last-child) {
                            margin-bottom: 20px;
                            border-bottom: 1px solid #313131;
                            padding-bottom: 20px;
                        }

                        .content-area {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            .content {
                                .title {
                                    font-size: 18px;
                                    color: var(--color-white);
                                }

                                .subtitle {
                                    color: var(--color-white);
                                }
                            }
                        }

                        .donwload-btn {
                            @include flex;
                            width: 40px;
                            height: 40px;
                            background: var(--color-primary);
                            color: var(--color-white);
                            @include rts-transition;

                            &:hover {
                                background: var(--color-white);
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }

            &.contact-widget {
                background: var(--color-heading);
                padding: 60px 80px;
                text-align: center;

                @include mq(max-xl) {
                    padding: 40px 30px;
                }

                .content {
                    .title {
                        color: var(--color-white);
                        line-height: 32px;
                        margin-bottom: 30px;
                        margin-top: 25px;
                    }

                    .btn-primary {
                        &:hover {
                            background: var(--color-white);
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}