/*----------------------------------------*/
/*   Testimonial Section                     */
/*----------------------------------------*/

.rts-testimonial-area {
    position: relative;

    .shape-area{
       .shape-one {
        position: absolute;
        left: 0;
        bottom: 25%;
       } 
       .shape-two {
        position: absolute;
        right: 0;
        bottom: 25%;
       }
    }
    .section-title {
        .water-mark {
            font-size: 220px;
            color: var(--color-white);
            margin: 0 auto;
            white-space: nowrap;

            @include mq(max-sm){
                font-size: 150px;
            }
        }
    }
}

.rts-testmonial-wrappers {
    margin-top: 150px;

    @include mq(max-lg){
        margin-top: 120px;
    }

    @include mq(max-lg){
        margin-top: 100px;
    }

    .rts-testimonial-content-area {
        .rts-section-section-title {
            .title {
                margin-bottom: 30px;
            }

            .desc {
                max-width: 495px;
            }
        }

        .clients-trusted-area {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 20px;

            @include mq(max-sm) {
                flex-wrap: wrap;
                justify-content: center;
            }

            .title {
                font-weight: var(--f-semi-bold);
                line-height: 26px;
            }
        }
    }

    .rts-testimonial-slide-area {
        position: relative;

        .single-testimonial-item {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 31px;
                bottom: 20px;
                box-shadow: 0 14px 58px #DBE3E8;
                right: 30px;
                height: 100%;
                border-radius: 20px;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                left: 31px;
                bottom: 10px;
                box-shadow: 0 14px 58px #DBE3E8;
                right: 30px;
                height: 100%;
                border-radius: 20px;
                z-index: 1;
            }

            .testimonial-inner {
                background: #fff;
                border-radius: 20px;
                box-shadow: 0 0 0 #DBE3E8;
                padding: 54px 80px 40px;
                text-align: center;
                position: relative;
                margin: 40px 30px;
                z-index: 1;

                @include mq(max-lg) {
                    padding: 40px 30px 30px;
                }

                @include mq(max-md) {
                    padding: 30px 20px 20px;
                }

                @include mq(max-sm) {
                    padding: 20px 15px 15px;
                }

                .thumb {
                    margin-bottom: 20px;
                }

                .designation {
                    font-size: 14px;
                    font-weight: var(--f-medium);
                }

                .desc {
                    margin: 15px 0 25px;
                    color: var(--color-heading);
                    font-weight: var(--f-medium);
                }

                .stars-area {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    color: var(--color-primary);
                    border: 1px solid #E1E7EB;
                    border-radius: 100px;
                    padding: 5px 20px;
                }
            }


        }

        .testi-navigation {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);

            .testi-btn {
                @include flex;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: var(--color-white);
                color: var(--color-primary);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 9;
            }

            .rts-testimonial-prev {
                left: -70px;

            }

            .rts-testimonial-next {
                right: -70px;
            }
        }
    }
}