/*----------------------------------------*/
/*    Why Section                         */
/*----------------------------------------*/

.rts-why-choose-wrapper {
    .why-choose-content-area {
        .rts-section-title {
            .desc {
                max-width: 560px;
            }
        }

        .review-area {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 35px 0 45px;

            img {
                @include mq(max-xl) {
                    width: 160px;
                }
            }

            @include mq(max-sm){
                flex-wrap: wrap;
            }

            .desc {
                font-size: 18px;
                font-weight: var(--f-semi-bold);
                color: var(--color-heading);

                 @include mq(max-xl) {
                    font-size: 16px;
                } 
            }
        }
    }

    .why-choose-item-wrapper {
        padding-left: 100px;

        @include mq(max-xl) {
            padding-left: 0;
        }

        .why-choose-item {
            position: relative;
            z-index: 1;

            &:not(:last-child) {
                margin-bottom: 20px;

            }
            @include mq(max-sm){
                margin-top: 60px;
            }

            &:nth-child(odd) {
                left: -70px;
            }

            @include mq(max-xl){
                &:nth-child(odd) {
                    left: 0;
                }
                margin-left: 40px
            }

            @include mq(max-sm){
                margin-left: 0;
            }

            .icon {
                @include flex;
                min-width: 70px;
                height: 70px;
                background: var(--color-primary);
                border-radius: 10px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -35px;

                @include mq(max-sm){
                    top: -35px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .content {
                padding: 30px 30px 30px 65px;
                background: var(--color-white);
                border: 1px solid #EEEFFF;
                box-shadow: 0px 10px 48px rgba(0, 0, 0, 0.08);
                border-radius: 15px;

                @include mq(max-sm){
                    padding-top: 65px;
                }

                .title {
                    font-size: 20px;
                    margin-bottom: 10px;
                }

            }
        }
    }
}

.rts-why-choose-wrapper-two {
    .why-choose-content-area {
        margin-right: 60px;

        @include mq(max-xl){
            margin-right: 0;
        }

        .rts-section-title {
            .subtitle {
                &::before {
                    display: none;
                }
            }

            .title {
                margin-bottom: 25px;
            }
        }

        .why-choose-list {
            margin: 30px 0 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            @include mq(max-sm){
                grid-template-columns: repeat(1, 1fr);
                gap: 15px;
            }

            li {
                display: flex;
                align-items: center;
                gap: 15px;

                i {
                    @include flex;
                    min-width: 35px;
                    height: 35px;
                    background: #E2E6F2;
                    color: var(--color-primary);
                    border-radius: 100px;
                }

                span {
                    font-size: 18px;
                    color: var(--color-heading);
                    font-weight: var(--f-semi-bold);
                }
            }
        }
    }

    .why-choose-image-area {
        position: relative;
        margin-right: -80px;

        @include mq(max-lg){
            margin-right: 0;
        }

        .counter-growth {
            max-width: 235px;
            height: auto;
            background: var(--color-primary);
            padding: 36px 50px 36px 50px;
            border-radius: 20px;
            position: absolute;
            left: 37%;
            transform: translateX(-50%);
            bottom: 0;

            @include mq(max-md){
                position: unset;
                transform: translateY(-45%);
            }

            .count-title {
                color: var(--color-white);
                font-weight: var(--f-semi-bold);
            }

            .desc {
                margin-top: 7px;
                color: var(--color-white);
                font-weight: var(--f-semi-bold);
            }
        }
    }
}

.horizontal-wrapper {
    padding-top: 50px;
    overflow: hidden;
    .why-title {
        margin: 0 auto;
        white-space: nowrap;
        font-size: 220px;
        line-height: 1;
        font-weight: var(--f-bold);
        color: rgb(242 242 245 / .5411764706);

        @include mq(max-xl){
            font-size: 180px;
        }
        @include mq(max-lg){
            font-size: 150px;
        }
        @include mq(max-md){
            font-size: 120px;
        }
    }
}