/*----------------------------------------*/
/*    common style                        */
/*----------------------------------------*/

.bg-black {
    background: var(--color-heading) !important;
}
.cw{
    color: var(--color-white) !important;
}

// back to top
.rts-back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 55px;
    height: 55px;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
    transition: all 0.3s ease;
    &.active {
        opacity: 1;
    }
}

// page navigation
.page-nav {
  ul {
    li {
      display: inline-block;

      &.active {
        a {
          background: var(--color-primary);
          color: var(--color-white);
          border-color: transparent;
        }
      }

      a {
        @include flex;
        width: 50px;
        height: 50px;
        background: var(--color-white);
        border: 1px solid #E0E4ED;
        border-radius: 15px;
        color: var(--color-heading);
        font-weight: var(--f-bold);
        margin-right: 10px;
        @include rts-transition;

        &:hover {
          background: var(--color-primary);
          color: var(--color-white);
          border-color: transparent;
        }
      }
    }
  }
}

// sticky top
.rts-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}



// rts ltr css
.rtl-ltr-switcher-btn {
    position: fixed;
    right: 0;
    top: 55%;
    left: auto;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 25px 6px;
    background: var(--color-primary);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    z-index: 1000;
    color: #fff;
    cursor: pointer;

    .ltr,
    .rtl {
        display: none;
        font-weight: 500;

        &.show {
            display: block;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}
