/*----------------------------------------*/
/*    common style                        */
/*----------------------------------------*/

.bg-black {
    background: var(--color-heading) !important;
}
.cw{
    color: var(--color-white) !important;
}

// back to top
.rts-back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 55px;
    height: 55px;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
    transition: all 0.3s ease;
    &.active {
        opacity: 1;
    }
}

// page navigation
.page-nav {
  ul {
    li {
      display: inline-block;

      &.active {
        a {
          background: var(--color-primary);
          color: var(--color-white);
          border-color: transparent;
        }
      }

      a {
        @include flex;
        width: 50px;
        height: 50px;
        background: var(--color-white);
        border: 1px solid #E0E4ED;
        border-radius: 15px;
        color: var(--color-heading);
        font-weight: var(--f-bold);
        margin-right: 10px;
        @include rts-transition;

        &:hover {
          background: var(--color-primary);
          color: var(--color-white);
          border-color: transparent;
        }
      }
    }
  }
}

// sticky top
.rts-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}
