/*----------------------------------------*/
/*   preloader                            */
/*----------------------------------------*/

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  .loader-section {
    position: fixed;
    top: 0;
    background: var(--color-white);
    width: 50%;
    height: 100%;
    z-index: 1000;

    &.section-left {
      left: 0;
    }

    &.section-right {
      right: 0;
    }
  }
}

.loaded {
  .loader-wrapper {
    .loader-section {
      &.section-left,
      &.section-right {
        transition: 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
        opacity: 0;
      }
    }

    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.3s ease-out 1s;
  }

  .loader {
    opacity: 0;
    transition: 0.3s ease-out;
  }
}

.loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  z-index: 1001;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    right: 14px;
    bottom: 14px;
    border: 4px solid transparent;
    border-top-color: var(--color-primary);
    border-right-color: var(--color-primary);
    border-bottom-color: var(--color-primary);
    border-radius: 100%;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
